/* ===============================
   1. Fonts
   =============================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neue Haas Grotesk Display Pro';
}

@font-face {
    font-family: 'NeueHaasDisplayBold';
    src: url('fonts/NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasDisplayMedium';
    src: url('fonts/NeueHaasDisplayMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasDisplayLight';
    src: url('fonts/NeueHaasDisplayLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasDisplayThin';
    src: url('fonts/NeueHaasDisplayThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* ===============================
   2. Body
   =============================== */
body {
    background-color: #ffffff;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

/* ===============================
   3. Circles
   =============================== */

/* Background gradient with circles */
.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* This ensures the background stays behind all content */
    overflow: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(60px);
    opacity: 0.7;
    mix-blend-mode: screen;
    animation: float 30s infinite ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle1 {
    width: 130%;
    height: 130%;
    background-color: #f0685c;
    top: -50%;
    left: -60%;
    animation-delay: -1s;
}

#circle2 {
    width: 150%;
    height: 150%;
    background-color: #46b4ad;
    top: 300px;
    left: 10%;
    animation-delay: -2.5s;
}

#circle3 {
    width: 130%;
    height: 130%;
    background-color: #27265e;
    top: -40%;
    left: 55px;
    animation-delay: -4.5s;
}

#circle4 {
    width: 100%;
    height: 100%;
    background-color: #244c9d;
    top: 50%;
    left: -25%;
    animation-delay: -4.5s;
}



@keyframes float {
    0% {
        transform: translate(0, 0) scale(1);
    }

    25% {
        transform: translate(7%, 7%) scale(1.08);
    }

    50% {
        transform: translate(0, 14%) scale(0.92);
    }

    75% {
        transform: translate(-7%, 7%) scale(1.08);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}



/* ===============================
   4. c
   =============================== */
/* Container styles */
.closed button {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Close button styles */
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.455);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 345px;
    margin-top: 90px;
}

.close-button:hover {
    background-color: rgba(220, 220, 220, 0.9);
}

/* Cross/X icon */
.cross-icon {
    position: relative;
    width: 20px;
    height: 20px;
}

.cross-icon::before,
.cross-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
}

.cross-icon::before {
    transform: rotate(45deg);
}

.cross-icon::after {
    transform: rotate(-45deg);
}








/* ===============================
   4. container for navbar, nav-links & logo
   =============================== */

.container {
    position: relative;
    z-index: 1;
    /* Ensures container is above the background */
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

/* ===============================
  4.1 Navbar
   =============================== */

.navbar {
    display: flex;
    justify-content: column;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
}


/* ===============================
  4.3 Small Logo for events & website page
   =============================== */
.logo {
    position: fixed;
    top: -2%;
    left: 20px;
}

.logo img {
    width: 100px;
    height: auto;

}


/* ===============================
  4.2 Large Logo for Intro page
   =============================== */
.logo1 {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.logo1 img {
    width: 700px;
    height: auto;
    max-width: 700px;
    /* You can adjust this value as needed */
}


/* ===============================
  4.2 Large Logo for Intro page (website and start page together)
   =============================== */
.logo2 {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 2;
    /* Make sure logo is behind nav */
}

.logo2 img {
    width: 500px;
    height: auto;
    max-width: 700px;
    margin-top: -300px;
}

/* ===============================
  4.4 When clicking on the logo, it will take you to the start page
   =============================== */

.logo a {
    cursor: pointer;
    display: inline-block;
    /* This ensures the link only takes up as much space as the image */
}

.logo a:hover {
    opacity: 0.9;
    /* Subtle effect when hovering over the logo */
}


/* ===============================
  4.5 Nav-links
   =============================== */

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: auto;
    position: relative;
    /* Add this for positioning the underline */
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    position: relative;
    /* For the underline positioning */
    padding-bottom: 5px;
    /* Space for the underline */
}



/* Events | Website - Start page */
.nav-links {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    position: relative;
    padding-bottom: 5px;
}



/* ===============================
  6. Text & White Box for website page
   =============================== */
.card {
    background: rgba(255, 255, 255, 0.455);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 40px;
    margin: 10px auto;
    max-width: 1000px;
    min-height: 320px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: justify;
    word-spacing: -1.75px;
    color: #000;
    margin-top: 100px;

}

.card h1 {
    font-family: 'NeueHaasDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 48px;
    margin-bottom: 0px;
    text-align: center;
    color: #000;
}

.card h2 {
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #000;
}

.card p {
    font-family: 'NeueHaasDisplayLight', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 0px;
    text-align: center;
}


/* ===============================
  6. Text & White Box for event page
   =============================== */
.card2 {
    background: rgba(255, 255, 255, 0.455);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 40px;
    margin: 10px auto;
    max-width: 1000px;
    min-height: 320px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: justify;
    word-spacing: -1.75px;
    color: #000;
    margin-top: 120px;
    position: relative;

}

.card2 h1 {
    font-family: 'NeueHaasDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 48px;
    margin-bottom: 0px;
    text-align: left;
    color: #000;
}

.card2 h2 {
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #000;
}

.card2 p {
    font-family: 'NeueHaasDisplayLight', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 0px;
    text-align: justify;
}



/* ===============================
  6. Text & White Box for website page
   =============================== */
.card3 {
    background: rgba(255, 255, 255, 0.455);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 320px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: justify;
    word-spacing: -1.75px;
    color: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    z-index: 5;

}

.card3 h1 {
    font-family: 'NeueHaasDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 48px;
    margin-bottom: 0px;
    text-align: center;
    color: #000;
}

.card3 h2 {
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #000;
}

.card3 p {
    font-family: 'NeueHaasDisplayLight', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 0px;
    text-align: center;
}



/* ===============================
  7. Events
   =============================== */

.event-details {
    display: flex;
    justify-content: left;
    margin-top: 40px;
    margin-left: 0px;
    gap: 70px;

}

.paragraph {
    font-family: 'NeueHaasDisplayThin', Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 0px;
}

.detail {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
}

.detail h3 {
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.detail p {
    font-family: 'NeueHaasDisplayThin', Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-left: 0px;
}

.place {
    max-width: 100%;
}



.social-media-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.social-icons a img {
    height: auto;
    transition: transform 0.3s ease-in-out;
    filter: brightness(0);
    /* Makes the icons black */
}

/* Set different sizes for each icon */
.social-icons a:nth-child(1) img {
    /* Instagram */
    width: 20px;
}

.social-icons a:nth-child(2) img {
    /* Facebook */
    width: 15px;
}

.social-icons a:nth-child(3) img {
    /* TikTok */
    width: 20px;
}

/* Hover effect */
.social-icons img:hover {
    transform: scale(1.1);
}



/* ===============================
  8. Countdown 
   =============================== */

h1 {
    color: #2c3e50;
    margin-top: 0;
    font-size: 2rem;
}

.countdown {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
    margin-top: -300px;
    flex-wrap: wrap;
}

.countdown-item {
    margin: 0 1rem;
    min-width: 80px;
}

.countdown-value {

    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 0.5rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 0.5rem;

}

.countdown-label {
    font-family: 'NeueHaasDisplayLight', Helvetica, Arial, sans-serif;
    font-size: 0.95rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}





/* ===============================
  8. Countdown for Nova.html
   =============================== */

h1 {
    color: #2c3e50;
    margin-top: 0;
    font-size: 2rem;
}

.countdown2 {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 130px;
    /* Adjust this value as needed */
    left: 0;
    right: 0;
    flex-wrap: wrap;
    z-index: 10;
}

.countdown2-item {
    margin: 0 1rem;
    min-width: 80px;
}

.countdown2-value {

    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 0.5rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 0.5rem;

}

.countdown2-label {
    font-family: 'NeueHaasDisplayLight', Helvetica, Arial, sans-serif;
    font-size: 0.95rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}










.exhibition1 {
    background: rgba(255, 255, 255, 0.455);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 10px;
    margin: 0 auto;
    max-width: 100%;
    height: 40px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 0;
}


.exhibitions-container {
    padding-top: 100px;
}
































/* @media for countdown timer */

@media (max-width: 600px) {
    .countdown-item {
        margin: 0.5rem;
        min-width: 70px;
    }

    .countdown-value {
        font-size: 2rem;
    }
}



/* ===============================
   9. Events slider
   =============================== */
/* Updated navigation arrows styling */
/*.navigation {
    display: flex;
    justify-content: center;
    gap: 60px;
    position: relative;
    margin: 30px auto;
    z-index: 10;
}

.nav-button {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
    font-size: 24px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
}

.nav-button:active {
    transform: scale(0.95);
}*/










/* ===============================
   9. Responsiveness
   =============================== */

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1200px) {
    .logo1 img {
        width: 600px;
    }

    .card {
        max-width: 100%;
        max-width: 100%;
        padding: 30px;
    }

    .event-details {
        gap: 40px;
    }

    .countdown {
        margin-top: -300px;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {
    .logo1 img {
        width: 500px;
    }

    .card {
        padding: 25px;
    }

    .card h1 {
        font-size: 40px;
    }

    .card h2 {
        font-size: 20px;
    }

    .card p {
        font-size: 20px;
    }

    .paragraph {
        font-size: 16px;
    }

    .detail h3 {
        font-size: 22px;
    }

    .detail p {
        font-size: 16px;
    }

    .navigation {
        margin: 20px auto;
    }

    .countdown {
        margin-top: -300px;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .logo {
        position: static;
        margin-bottom: 10px;
    }

    .logo img {
        width: 120px;
    }

    .logo1 {
        top: 40%;
    }

    .logo1 img {
        width: 350px;
    }

    .nav-links {
        margin: 10px auto;
    }

    .nav-item {
        margin-top: -30px;
        font-weight: bold;
    }

    .nav-item.separator-item {
        margin-top: -30px;
    }

    .separator-item {
        display: flex;
        align-items: center;
        margin-top: 0;
        padding-bottom: 5px;
    }

    .card {
        padding: 20px;
        margin: 20px auto;
    }

    .card h1 {
        font-size: 32px;
    }

    .event-details {
        flex-direction: column;
        gap: 25px;
    }

    .navigation {
        margin: 15px auto;
        gap: 40px;
    }

    .nav-button {
        width: 50px;
        height: 50px;
    }

    .nav-button {
        width: 50px;
        height: 50px;
        margin-bottom: -400px;
    }

    .countdown {
        margin-top: -160px;
    }

    .countdown-value {
        font-size: 2.5rem;
        margin-top: 0px;
    }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 576px) {
    .circle {
        filter: blur(40px);
    }

    .logo img {
        width: 120px;
    }

    .logo1 img {
        width: 280px;
        top: 40%;
    }

    .nav-link {
        font-size: 18px;
    }

    .nav-item {
        font-size: 18px;
        margin-top: -50px;
        font-weight: bold;
        color: #000;

    }

    .nav-item.separator-item {
        margin-top: -45px;
    }

    .card {
        padding: 15px;
        border-radius: 15px;
        margin-top: -15px;
    }

    .card h1 {
        font-size: 28px;
        text-align: left;
    }

    .card h2 {
        font-size: 18px;
    }

    .card p {
        font-size: 16px;
    }

    .paragraph {
        font-size: 14px;
    }

    .detail h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .detail p {
        font-size: 14px;
    }

    .navigation {
        position: relative;
        bottom: auto;
        margin-top: 30px;
        gap: 30px;
    }

    .nav-button {
        width: 40px;
        height: 40px;
        font-size: 20px;
        margin-bottom: 0;
    }

    .countdown {
        margin-top: -160px;
    }

    .countdown-item {
        margin: 0 0.5rem;
        margin-top: -130px;
        min-width: 60px;
    }

    .countdown-value {
        font-size: 2rem;
        padding: 0.3rem;
    }

    .countdown-label {
        font-size: 0.8rem;
    }
}



/* Extra small devices (phones, less than 400px) */
@media (max-width: 400px) {
    .circle {
        filter: blur(40px);
    }

    .logo img {
        width: 120px;
    }

    .logo1 img {
        width: 280px;
        top: 40%;
    }

    .nav-link {
        font-size: 18px;
    }

    .nav-item {
        font-size: 18px;
        margin-top: -50px;
        font-weight: bold;
        color: #000;

    }

    .nav-item.separator-item {
        margin-top: -75px;
    }

    .card {
        padding: 15px;
        border-radius: 15px;
        margin-top: -15px;
    }

    .card h1 {
        font-size: 28px;
        text-align: left;
    }

    .card h2 {
        font-size: 18px;
    }

    .card p {
        font-size: 16px;
    }

    .paragraph {
        font-size: 14px;
    }

    .detail h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .detail p {
        font-size: 14px;
    }

    .navigation {
        position: relative;
        bottom: auto;
        margin-top: 30px;
        gap: 30px;
    }

    .nav-button {
        width: 40px;
        height: 40px;
        font-size: 20px;
        margin-bottom: 0;
    }

    .countdown {
        margin-top: -20px;
    }

    .countdown-item {
        margin-top: -130px;
        min-width: 60px;
    }

    .countdown-value {
        font-size: 2rem;
        padding: 0.3rem;
    }

    .countdown-label {
        font-size: 0.8rem;
    }
}